
<navbar></navbar>
<router-outlet></router-outlet>

<hr>
<h1>Angular Examples</h1>
<hr>
<app-change-pw-form></app-change-pw-form>
<hr>
<app-new-course-form></app-new-course-form>
<hr>
<signup-form></signup-form>
<hr>
<app-course-form></app-course-form>
<hr>
<app-contact-form></app-contact-form>
<hr>
<app-authors></app-authors>
<hr>
<app-favorites></app-favorites>
<hr>
<app-titlecase></app-titlecase>
<hr>
<like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked">
</like>
<hr>
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>


